<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

<footer id="rodape">
        <div class="container-padrao layout-rodape">
            <div class="coluna-rodape">
                <h4 class="titulo-rodape">Navegação</h4>
                <ul class="lista-rodape">
                    <li><a href="#" class="link-rodape">Sobre Nós</a></li>
                    <li><a href="#" class="link-rodape">Contato</a></li>
                    <li><a href="#" class="link-rodape">Trabalhe Conosco</a></li>
                </ul>
            </div>
            <div class="coluna-rodape">
                <h4 class="titulo-rodape">Ajuda</h4>
                <ul class="lista-rodape">
                    <li><a href="#" class="link-rodape">Trocas e Devoluções</a></li>
                    <li><a href="#" class="link-rodape">Política de Privacidade</a></li>
                    <li><a href="#" class="link-rodape">Termos de Serviço</a></li>
                </ul>
            </div>
            <div class="coluna-rodape">
                <h4 class="titulo-rodape">Siga-nos</h4>
                <div class="icones-sociais">
                    <a href="#" class="link-social"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="link-social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="link-social"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="direitos-autorais">
            <p>&copy; 2025 Essencial. Todos os direitos reservados. | Pagamentos: Visa, Mastercard, Pix.</p>
        </div>
    </footer>
</body>
</html>