<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <title>área administrativa - Sistema escolar </title>

</head>

<body>

    <header>
        <h2><a href="../landing/index.ejs" class="EcoModa">EcoModa</a></h2>
        <nav>
            <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
            <a href="/admin/dashboard"> home</a>
            <a href="/produtos/listar"> produtos</a>
            <a href="/categorias/listar"> categorias</a>
            <a href="/usuarios/listar"> usuarios</a>
            <a href="/admin/logout"><i class="fa-solid fa-door-open"></i></a>
        </nav>
    </header>