<%- include('../includes/header.ejs', { titulo: 'Cadastro de Usuario' }) %>

<main>
    <h2>criar usuario</h2>

    <form action="/usuarios/novo" method="POST" class="form">
        <div class="form-group">
            <label>Nome do Usuario:</label>
            <input type="text" name="nome" required>
        </div>
        <div class="form-group">
            <label>Email do Usuario:</label>
            <input type="email" name="email" required>
        </div>
        <div class="form-group">
            <label>Número do Usuario:</label>
            <input type="text" name="numero" required>
        </div>
        <div class="form-group">
            <label>Cpf do Usuario:</label>
            <input type="text" name="cpf" required>
        </div>
        <div class="form-group">
            <label>Senha do Usuario:</label>
            <input type="text" name="senha" required>
        </div>
        
        
        <button type="submit" class="btn btn-principal">Adicionar</button>
        <a href="/usuarios/listar" class="btn btn-secundario">Cancelar</a>
    </form>
</main>
<%- include('../includes/footer.ejs') %>